<div class="images-container">
    <div class="text-container">
        <div class="hello__div">
            <div class="contenedorTexto">
                <p class="hola">portafol<strong>i</strong>o</p>
            </div>
        </div>
    </div>
      <div class="trabajos">
        <div class="contenedorTrabajo">
            <div (click)="link('kimera')"  class="trabajo">
                <video src="images/kimera.mp4" autoplay loop muted playsinline></video>
                <div class="info">
                    <div class="textos">
                        <p>Kimera Studio landing page</p>
                    </div>
                    <span class="material-symbols-outlined">
                    arrow_outward
                    </span>
                </div>
            </div>
        </div>
        <div class="contenedorTrabajo derecho">
            <div (click)="link('ferre')"  class="trabajo">
                <video src="images/ferre.mov" autoplay loop muted playsinline></video>
                <div class="info">
                    <div class="textos">
                        <p>Demo de gestion para FERRE BARNIEDO</p>
                    </div>
                    <span class="material-symbols-outlined">
                    arrow_outward
                    </span>
                </div>
            </div>
        </div>
        <div class="contenedorTrabajo">
            <div (click)="link('muros')"  class="trabajo">
                <video src="images/muros.mov" autoplay loop muted playsinline></video>
                <div class="info">
                    <div class="textos">
                        <p>MUROS Social media</p>
                    </div>
                    <span class="material-symbols-outlined">
                    arrow_outward
                    </span>
                </div>
            </div>
        </div>
        <div class="contenedorTrabajo derecho">
            <div (click)="link('tarjetaroja')"  class="trabajo">
                <video src="images/tarjetaroja.mov" autoplay loop muted playsinline></video>
                <div class="info">
                    <div class="textos">
                        <p>Práctica de responsividad</p>
                    </div>
                    <span class="material-symbols-outlined">
                    arrow_outward
                    </span>
                </div>
            </div>
        </div>
        <div class="contenedorTrabajo">
            <div (click)="link('motormexa')"  class="trabajo">
                <img src="images/motormexa.png" autoplay loop muted playsinline>
                <div class="info">
                    <div class="textos">
                        <p>Demo de gestion de logística para MOTORMEXA</p>
                    </div>
                    <span class="material-symbols-outlined">
                        arrow_outward
                    </span>
                </div>
            </div>
        </div>
        
    </div>
</div>