@import url('https://fonts.googleapis.com/css2?family=Gruppo&family=Poiret+One&family=Tangerine:wght@400;700&family=Unbounded:wght@200..900&display=swap');

:host {
    display: block;
    width: 100%;
    overflow: visible;
}

.images-container {
    position: relative;
    width: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: visible;
}

.text-container {
    position: -webkit-sticky;
    position: sticky;
    top: calc(50% - 10rem);
    left: 0;
    height: 50vh;
    width: 100%;
    pointer-events: none; 
    display: flex;
    // align-items: center;
    justify-content: center;
    padding-top: 10rem;
    margin-top: 0;
    will-change: transform;
}

.hello__div {
    pointer-events: auto; 
    display: flex;
    flex-direction: column;
    margin: 0;
    padding-top: 0;

    .contenedorTexto {
        overflow: visible;

        p {
           font-style: normal;
           flex-wrap: wrap;
           font-size: 4.5vw;
           text-align: center;
           color: rgb(0, 0, 0);
           margin: 0 !important; 
           opacity: 1;
           font-family: "Joyride alt italic", sans-serif;
           text-transform: uppercase;

           strong {
               font-family: "Joyride std italic", sans-serif;
               font-weight: 100;
           }
        }
        
    }
}

.trabajos {
    width: 95%;
    z-index: 2;
    display: flex;
    flex-direction: column;
    gap: 6rem;
    margin-top: 10rem;

    .derecho {
        justify-content: flex-end !important;
    }

    .contenedorTrabajo {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        overflow: hidden;
        padding: 1rem;
        .trabajo {
            background-color: white;
            cursor: pointer;
            max-width: 53%;
            border-radius: 20px;
            display: flex;
            flex-direction: column;
            padding: 10px;
            gap: 1rem;
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);

            img,video {
                position: relative;
                border-radius: 10px;
            }

            .info {
                display: flex;
                flex-direction: row;
                color: black;
                align-items: center;
                padding: 1rem;

               .textos {
                flex: 1;
                display: flex;
                flex-direction: column;
                gap: 1rem;

                 h1 {
                    font-size: 3rem;
                }

                p {
                    font-family: "Joyride ext italic", sans-serif;
                }

                .kimeratxt {
                    font-family: "KimeraFont", sans-serif;
                    text-transform: uppercase;
                }
               }
            }
        }
    }
}

@media (max-width: 768px) {

    .text-container {
        width: 100%;
        
        .hello__div {
            padding-left: 0;
            padding-top: 0rem;

        .contenedorTexto {
            width: 100%;
    
            p {
               font-size: 5.5vw !important;
               text-align: center;
            }
           }
        }
    }

    .trabajos {
    width: 100%;
    // background-color: green;
    margin-top: 20vh;
    z-index: 2;
    display: flex;
    flex-direction: column;
    gap: .5rem;

    .derecho {
        justify-content: flex-end !important;
    }

    .contenedorTrabajo {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        overflow: hidden;
        padding: 1rem;
        // background-color: blue;
        .trabajo {
            background-color: white;
            cursor: pointer;
            max-width: 80%;
            border-radius: 15px;
            display: flex;
            flex-direction: column;
            padding: 5px;
            gap: 0rem;
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);

            img, video {
                position: relative;
                border-radius: 10px;
            }

            .info {
                display: flex;
                flex-direction: row;
                color: black;
                align-items: center;
                padding: .3rem;

               .textos {
                flex: 1;
                display: flex;
                flex-direction: column;
                gap: 1rem;


                p {
                    font-family: "Joyride ext italic", sans-serif;
                    font-size: .5rem;
                }

                
            }
            span {
                font-size: 12px;
            }
            }
        }
    }
}

}