<div class="images-container">
    <div class="text-container">
        <div class="hello__div">
            <div class="contenedorTexto">
                <p class="hola">portafol<strong>i</strong>o</p>
            </div>
        </div>
    </div>
      <div class="trabajos">
        <div (click)="link('kimera')" class="contenedorTrabajo">
            <div class="trabajo">
                <video src="https://res.cloudinary.com/dj5ohento/video/upload/v1763321328/My_Movie_mdnihj.mp4" autoplay loop muted playsinline></video>
                <div class="info">
                    <div class="textos">
                        <p>Kimera Studio landing page</p>
                    </div>
                    <span class="material-symbols-outlined">
                    arrow_outward
                    </span>
                </div>
            </div>
        </div>
        <div (click)="link('ferre')" class="contenedorTrabajo derecho">
            <div class="trabajo">
                <video src="https://res.cloudinary.com/dj5ohento/video/upload/v1763320853/ferre_ehnfys.mov" autoplay loop muted playsinline></video>
                <div class="info">
                    <div class="textos">
                        <p>Demo de gestion para FERRE BARNIEDO</p>
                    </div>
                    <span class="material-symbols-outlined">
                    arrow_outward
                    </span>
                </div>
            </div>
        </div>
        <div (click)="link('muros')" class="contenedorTrabajo">
            <div class="trabajo">
                <video src="https://res.cloudinary.com/dj5ohento/video/upload/v1763320893/muros_z3qeam.mov" autoplay loop muted playsinline></video>
                <div class="info">
                    <div class="textos">
                        <p>MUROS Social media</p>
                    </div>
                    <span class="material-symbols-outlined">
                    arrow_outward
                    </span>
                </div>
            </div>
        </div>
        <div (click)="link('tarjetaroja')" class="contenedorTrabajo derecho">
            <div class="trabajo">
                <video src="https://res.cloudinary.com/dj5ohento/video/upload/v1763320877/tarjetaroja_vpzmqg.mov" autoplay loop muted playsinline></video>
                <div class="info">
                    <div class="textos">
                        <p>Práctica de responsividad</p>
                    </div>
                    <span class="material-symbols-outlined">
                    arrow_outward
                    </span>
                </div>
            </div>
        </div>
        <div (click)="link('motormexa')" class="contenedorTrabajo">
            <div class="trabajo">
                <img src="images/motormexa.png" autoplay loop muted playsinline>
                <div class="info">
                    <div class="textos">
                        <p>Demo de gestion de logística para MOTORMEXA</p>
                    </div>
                    <span class="material-symbols-outlined">
                        arrow_outward
                    </span>
                </div>
            </div>
        </div>
        
    </div>
</div>