.cuerpo {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    padding-top: 1rem;  
    align-items: center;
    flex-direction: column;

    .textos {
            display: flex;
            flex-direction: row;
            position: relative;
            
            h1 {
                font-family: "Joyride std outline italic", sans-serif;
                bottom: 0;
                left: 0;
                font-size: 7vw;
                text-transform: uppercase;
                font-weight: normal;
                letter-spacing: 0px;
                white-space: nowrap;

                strong {
                    font-family: "Joyride alt outline italic", sans-serif;
                    font-weight: normal;
                }
        }
        }
}

.contenido {
    width: 100%;
    margin-top: 2rem;

    .linea {
        height: 2px;
        width: 100%;
        background-color: black;
    }

  .contenedor {
    height: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    width: 100%;

      h1 {
        font-family: "Zalando Sans Expanded", sans-serif;
        font-size: 5vw;
        font-weight: normal;
        letter-spacing: 0px;
        white-space: nowrap;

        strong {
            font-family: "Joyride alt outline italic", sans-serif;
            font-weight: normal;
        }
    }
  }
}

@media (max-width: 768px) {
    .cuerpo {
        .textos {

            h1 {
                font-size: 9vw;
                margin-top: 1rem;
            }
        }
    }

    .contenido {
      .contenedor {
        padding: 3rem;
        gap: .5rem;
          h1 {
            font-size: 10vw;
          }

          p {
            text-align: center;
          }
      }
    }
}