<div class="cuerpo" #cuerpo>
    <div class="textos" #textos>
        <h1>habili<strong>d</strong>ades</h1>
    </div>
    <div class="contenido">
        <div class="linea"></div>
        <div class="contenedor">
            <h1>Diseño web</h1>
            <p>Creación de interfaces responsivas con enfoque en UX/UI.</p>
        </div>
        <div class="linea"></div>
        <div class="contenedor">
            <h1>Apps móviles</h1>
            <p>Aplicaciones móviles enfocadas en buen rendimiento y experiencia de uso.</p>
        </div>
        <div class="linea"></div>
        <div class="contenedor">
            <h1>Back end</h1>
            <p>Soluciones estables y seguras para la gestión de datos.</p>
        </div>
        <div class="linea"></div>
    </div>
</div>