.cuerpo {
    width: 100vw;
    // min-height: ;
    display: flex;
    padding-top: 1rem;  
    align-items: center;
    flex-direction: column;

    .textos {
            display: flex;
            flex-direction: row;
            position: relative;
            
            h1 {
                font-family: "Joyride std outline italic", sans-serif;
                bottom: 0;
                left: 0;
                font-size: 7vw;
                text-transform: uppercase;
                font-weight: normal;
                letter-spacing: 0px;
                white-space: nowrap;

                strong {
                    font-family: "Joyride alt outline italic", sans-serif;
                    font-weight: normal;
                }
        }
        }
}

.contenido {
    width: 100%;
    margin-top: 2rem;

    .linea {
        height: 2px;
        width: 100%;
        background-color: black;
    }

  .contenedor {
    height: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    width: 100%;
    background-color: transparent;
    transition: all .2s ease;
    position: relative;

    img {
        top: 50%;
        max-width: 11rem;
        position: absolute;
        object-fit: contain;
        transform: translateY(-50%);
        box-shadow: -10px 10px 15px rgba(0, 0, 0, 0.35);
        transition: opacity 0.3s ease, transform 0.3s ease;
        opacity: 0;
    }
    
    .imagenI {
        left: 10%;
        border-radius: 20px;
        transform: rotate(-10deg) translateY(-50%);
    }
    .norotate {
        transform: rotate(0deg) translateY(-50%);
    }
    .der {
        right: 10%;
    }
    .imagenD {
        right: 10% !important;
    }
    .imagenLarga {
        max-width: 8rem;
    }
    .imagenhorizontal {
        max-width: 20rem !important;
    }
    .sinsombra {
        box-shadow: none;
    }

    .lenguajes {
        top: 50%;
        position: absolute;
        display: flex;
        right: 5%;
        gap: 1rem;
        transform: translateY(-50%);
        transition: opacity 0.3s ease, transform 0.3s ease;
        opacity: 1;
        align-items: center;
        justify-content: center;
    }
    
    .logo {
        box-shadow: none;
        filter: drop-shadow(0px 10px 15px rgba(0, 0, 0, 0.35));
        max-width: 6rem;
        position: relative !important;
        transform: none ;
        opacity: 0;
        transition: opacity 0.3s ease, transform 0.3s ease;
    }
    
    &:hover {
        background-color: #2CDC6E;
        
        .imagenI, .imagenD, .der {
            opacity: 1;
            // transform: rotate(-10deg) translateY(0%);
        }

        .imagenD {
            transform: rotate(180deg) translateY(50%);
        }

        .imagenI {
            transform: rotate(-10deg) translateY(calc(-50% - 10px));
        }
        .der {
            transform: rotate(0deg) translateY(calc(-50% - 10px));
        }
        .norotate {
            transform: rotate(0deg) translateY(calc(-50% - 10px));
        }
        

        
        .logo {
            opacity: 1;
            transform: translateY(-10px);
            transition: opacity 0.3s ease, transform 0.3s ease;
            
            &:first-child {
                transition-delay: 0s;
            }
            
            &:nth-child(2) {
                transition-delay: 0.1s;
            }
            
            &:nth-child(3) {
                transition-delay: .2s;
            }
            
        }
    }

      h1 {
        font-family: "Zalando Sans Expanded", sans-serif;
        font-size: 5vw;
        font-weight: normal;
        letter-spacing: 0px;
        white-space: nowrap;

        strong {
            font-family: "Joyride alt", sans-serif;
            font-weight: normal;
        }
    }
  }
}

@media (max-width: 768px) {
    .cuerpo {
        .textos {

            h1 {
                font-size: 9vw;
                margin-top: 1rem;
            }
        }
    }

    .contenido {
      .contenedor {
        padding: 2rem .5rem;
        // align-items: flex-start;
        gap: .5rem;

          h1 {
            font-size: 6vw;
            text-transform: uppercase;
          }

          p {
            max-width: 55%;
            font-size: 12px;
            text-align: center;
          }
      }

        .contenedor {
    img {
        top: 50%;
        max-width: 4rem;
        position: absolute;
        object-fit: contain;
        transform: translateY(calc(-50% + 10px));
        box-shadow: -10px 10px 15px rgba(0, 0, 0, 0.35);
        transition: opacity 0.3s ease, transform 0.3s ease;
        opacity: 0;
    }
    
    .imagenI {
        left: 5%;
        border-radius: 15px;
        transform: rotate(0deg) translateY(calc(-50% + 10px));
    }
    .norotate {
        transform: rotate(0deg) translateY(calc(-50% + 10px));
    }
    .der {
        right: 5%;
    }
    .imagenD {
        right: 5% !important;
    }
    .imagenLarga {
        max-width: 4rem;
    }
    .sinsombra {
        box-shadow: none;
    }

    .lenguajes {
        top: 50%;
        position: absolute;
        display: flex;
        right: 5%;
        gap: .5rem;
        transform: translateY(-50%);
        transition: opacity 0.3s ease, transform 0.3s ease;
        opacity: 1;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    
    .logo {
        box-shadow: none;
        filter: drop-shadow(0px 10px 15px rgba(0, 0, 0, 0.35));
        max-width: 2.5rem;
        position: relative !important;
        transform: none ;
        opacity: 0;
        transition: opacity 0.3s ease, transform 0.3s ease;
    }

    .nologo {
        display: none;
    }
    
    &:hover {
        background-color: #2CDC6E;
        
        .imagenI, .imagenD, .der {
            opacity: 1;
            // transform: rotate(-10deg) translateY(0%);
        }

        .imagenD {
            transform: rotate(180deg) translateY(50%);
        }

        .imagenI {
            transform: rotate(-5deg) translateY(-50%);
        }
        .der {
            transform: rotate(0deg) translateY(-50%);
        }
        .norotate {
            transform: rotate(0deg) translateY(-50%);
        }
        

        
        .logo {
            opacity: 1;
            transform: translateY(-0px);
            transition: opacity 0.3s ease, transform 0.3s ease;
            
            &:first-child {
                transition-delay: 0s;
            }
            
            &:nth-child(2) {
                transition-delay: 0.1s;
            }
            
            &:nth-child(3) {
                transition-delay: .2s;
            }
            
        }
    }
  }
    }
}