<div class="cuerpo" #cuerpo>
    <div class="textos" #textos>
        <h1>habili<strong>d</strong>ades</h1>
    </div>
    <div class="contenido">
        <div class="linea"></div>
        <div class="contenedor">
            <img class="imagenI" src="images/kimera.png" alt="">
            <h1>Diseño web</h1>
            <p>Creación de interfaces responsivas con enfoque en UX/UI.</p>
            <div class="lenguajes">
                <img class="logo" src="images/html.png" alt="">
                <img class="logo" src="images/css.png" alt="">
                <img class="logo" src="images/js.png" alt="">
            </div>
        </div>
        <div class="linea"></div>
        <div class="contenedor">
            <img class="imagenI imagenLarga" src="images/mibateria.jpg" alt="">
            <h1>Apps móviles</h1>
            <p>Aplicaciones móviles enfocadas en buen rendimiento y experiencia de uso.</p>
            <img class="imagenD imagenLarga sinsombra" src="images/react-native.png" alt="">
        </div>
        <div class="linea"></div>
        <div class="contenedor">
            <img class="imagenI norotate imagenLarga sinsombra" src="images/render.png" alt="">
            <h1>Back end</h1>
            <p>Soluciones estables y seguras para la gestión de datos.</p>
            <img class="ImagenI der imagenLarga sinsombra" src="images/node.png" alt="">
        </div>
        <div class="linea"></div>
    </div>
</div>