@import url('https://fonts.googleapis.com/css2?family=Zalando+Sans+Expanded:ital,wght@0,200..900;1,200..900&display=swap');

.cuerpo {
    height: 100vh;
    // border: 2px solid red;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 90vw;
    max-width: 1800px;
    // background-color: green;

    .der {
        max-width: 40%;
        // background-color: yellow;
    }

    .izq {
        // background-color: blue;
        justify-content: center;
        padding-bottom: 10rem;
        margin-right: 3rem !important;

        p {
            font-size: 24px;
            line-height: 1.5;
        }

        .textos {
            display: flex;
            flex-direction: row;
            position: absolute;
            bottom: 0;
            left: 0;

            .uno {
                font-weight: 100;
            }

            .dos {
                font-weight: 500;
            }

            .tres {
                margin-right: 1rem;
            }

             h1 {
            font-family: "Zalando Sans Expanded", sans-serif;
            bottom: 0;
            left: 0;
            font-size: 7vw;
            font-weight: 900;
            font-style: italic;
        }
        }
    }

    .side {
        height: 75%;
        flex: 1;
        display: flex;
        flex-direction: column;
        position: relative;
        gap: 2rem;

       

        .contenedor {
            flex: 1;
            position: relative;
            width: 100%;
            flex-direction: column;
            display: flex;

            .imagen {
                background-image: url('../../../assets/images/yo.heic');
                flex: 1 !important;
                background-size: cover;
                background-position: center 50%;
                width: 100%;
                background-size: 130%;
                display: flex;
            }

            .nombre {
                display: flex;
                flex-direction: row;
                padding: .5rem 0 ;
                justify-content: space-between;
                align-items: center;

                

                p {
                font-size: 2rem;  
                white-space: nowrap;
                }
            .daniel {
                // font-family: "Juana Sans", sans-serif;
                font-family: "Zalando Sans Expanded", sans-serif;
                font-weight: 100;
                font-size: 2rem;
                
            } 
            
            .exp {
                font-size: 1rem;
                font-family: "Zalando Sans Expanded", sans-serif;
                font-weight: 100;
            }

            .linea {
                font-weight: 100;
            }
        }
        }

    }
}