<div class="cuerpo">
    <div class="side">
        <h1>Sobre mi</h1>
        <p>
        Soy Daniel, desarrollador web con enfoque en frontend y diseño UX/UI. También tengo experiencia en desarrollo backend y en la creación de aplicaciones móviles, lo que me permite abordar proyectos de manera integral, desde la concepción visual hasta la implementación técnica.
        </p>
        <p>
        Actualmente soy estudiante de la carrera de Tecnologías de la Información, en el área de Gestión y Desarrollo de Software. Cuento con el título de Técnico Superior Universitario (TSU) y acumulo 1 año y 8 meses de experiencia en el desarrollo de software, trabajando en proyectos que combinan diseño, funcionalidad y una experiencia de usuario eficiente.
        </p>
        <p>
        Me apasiona crear soluciones digitales que no solo cumplan con su propósito técnico, sino que también ofrezcan una interacción clara, estética y agradable para el usuario.
        </p>
    </div>
    <div class="side"></div>
</div>