@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&family=Onest:wght@100..900&display=swap');

.cuerpo {
    width: 100%;
    max-width: 100vw;
    min-height: 100vh;
    max-height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.header {
    background-color: rgb(0, 0, 0);
    z-index: 99;
    width: 100%;
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 5rem;

    .logo {
        font-family: "Major Mono Display", monospace;
        font-optical-sizing: auto;
        font-style: normal;
        color: white;
    }

       ul {
        display: flex;
        gap: 2rem;
        align-items: center;
        height: min-content;

        padding-top: .5rem;

        li {
            height: auto;
            min-height: initial;
            list-style: none;
            padding-bottom: 0.5em;
            position: relative;
            
            a {
                cursor: pointer;
                text-decoration: none;
                position: relative;
                color: white;
            }
            &::before {
                content: '';
                position: absolute;
                width: 100%;
                height: 4px;
                border-radius: 4px;
                background-color: var(--before-bg-color, #ffffff);
                bottom: 0;
                left: 0;
                transform-origin: right;
                transform: scaleX(0);
                transition: transform .2s ease-in-out;
              }
              
              &:hover::before {
                transform-origin: left;
                transform: scaleX(1);
              }
            }
        }
}
.contenido {
    z-index: 1;
    background-color: white;
    align-items: center;
    justify-content: center;
    display: flex;
    flex: 1;
    position: absolute;
    min-width: 100vw;
    max-width: 100vw;
    max-height: 100vh;
    min-height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;

     &::-webkit-scrollbar {
    width: 6px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 10px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0, 0, 0, 0.5);
  }

    .saludo {
        background-color: white;
        height: 100vh;
        width: 100%;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

       .textos {
        max-width: 65vw;

         h1 {
            font-family: "Juana Sans", sans-serif;
            font-size: 8vw;
            color: black;
            font-weight: normal;
            margin-bottom: .7rem;
        }

        p {
            font-size: 1.5vw;
        }
        .info {
            margin-top: .7rem;
            font-size: 1.7vw;   
            color: rgba(0, 0, 0, 0.503);
        }
       }
    }
}
