@import url('https://fonts.googleapis.com/css2?family=Onest:wght@100..900&display=swap');
* {
    margin: 0;
    box-sizing: border-box;
    font-family: "Onest", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

html, body {
    overflow-x: hidden;
    overflow-y: auto;
    height: auto;
    min-height: 100%;
      &::-webkit-scrollbar {
    width: 4px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 10px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0, 0, 0, 0.5);
  }
}

@font-face {
  font-family: 'Juana Sans';
  src: url('./assets/fuentes/juana-thin.otf') format('opentype');
     font-weight: normal;
    font-style: normal;
    
}